<ion-header>
  <!-- <ion-toolbar>
    <ion-title class="ion-text-center">Juegos</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content>
  <ion-list #lista>
    <div *ngFor="let juego of juegos">
      <ion-card>
        <img src="{{ juego.thumbnail }}" />
        <ion-card-header>
          <ion-card-subtitle> {{ juego.developer }}, {{ juego.platform }} </ion-card-subtitle>
          <ion-card-title> {{ juego.title }} </ion-card-title>
        </ion-card-header>     
        <ion-card-content> {{ juego.short_description }} </ion-card-content>
      </ion-card>
    </div>
  </ion-list>
</ion-content>
