<ion-content>
  <ion-list #lista>
    <div *ngFor="let juego of juegos">
      <ion-card class="card">
        <img class="img" src="{{ juego.thumbnail }}" />
        <ion-card-header>
          <ion-card-subtitle> {{ juego.developer }}, {{ juego.platform }} </ion-card-subtitle>
          <ion-card-title> {{ juego.title }} </ion-card-title>
          <div class="ion-text-end">
            <button (click)="AddJuego(juego.id)" size="large">
              <ion-icon *ngIf="checkStatus(juego.id) === true" name="remove-outline"></ion-icon>
              <ion-icon *ngIf="checkStatus(juego.id) === false" name="add-outline"></ion-icon>
            </button>
          </div>
        </ion-card-header>     
        <ion-card-content> {{ juego.short_description }} </ion-card-content>
      </ion-card>
    </div>
  </ion-list>

  <!-- <ion-infinite-scroll threshold="1000px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Cargando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
</ion-content> 